body {
    background-color: #ffffff; /* Taustaväri musiikkisivulle */
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    /*background: url('https://placehold.co/800x600') no-repeat center center fixed;*/
    background-size: cover;
    padding: 0px;
    align-items: center;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column; /*allekkain track boxit*/
    max-width: 600px; /* Rajoittaa sisällön leveyttä */
    width: 100%; /* Mukautuu näkymän leveyteen */
    margin: 5vh auto; /* Keskittää sisällön */
    padding: 1rem; /* Lisää tilaa sisällön ympärille */
    align-items: center;
    width: 80%;
    max-width: 500px;
    background-color: #cfcdcdd1; /* Valkoinen tausta sisällölle */
    border-radius: 15px; /* Pyöristää kulmat */
    border: 5px solid black;
    text-align: center;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Varjo */
}

h1 {
    margin-top: 0;
    text-align: center; /* Keskittää otsikon */
    font-size: 32px; /* Otsikon koko */
    margin-bottom: 1rem; /* Lisää tilaa otsikon alle */
}

p {
    margin-top: center;;
    text-align: center; /* Keskittää otsikon */
    font-size: 18px; /* Otsikon koko */
    margin-bottom: 0.1rem; /* Lisää tilaa otsikon alle */
}

.track {
    display: flex; /* Järjestää lapsielementit riville */
    align-items: center; /* Tasaus pystysuunnassa */
    list-style-type: none; /* Poistaa listan merkit */
    justify-content: flex-start; /* Järjestää sisällön vasemmalle */
    margin: 0.5rem 0;
    padding: 0.75rem;
    border-radius: 8px;
    background-color: #fafafa;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.track span.track-name {
    flex-grow: 1; /* Venyttää nimen täyttämään jäljellä olevan tilan */
}

.track:hover {
    background-color: #e0e0e0; /* Taustaväri, kun hiiri on päällä */
    /*box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1); /* Varjon lisäys hoverilla */
}

/* Kappaleen nimen korostaminen */
.track h2 {
    font-size: 24px; /* Kappaleen nimen koko */
    background-color: #35ce59; /* Taustaväri kappaleen nimelle */
    padding: 0.3rem; /* Lisää tilaa taustavärin ympärille */
    border-radius: 5px; /* Pyöristää kulmat */
    transition: background-color 0.3s; /* Sujuva siirtymä taustavärissä */
}

/* Kappaleen nimen korostus, kun hiiri on päällä */
.track:hover h2 {
    background-color: #8af4a2 /* Tumma taustaväri, kun hiiri on päällä */
}

.music-player {
    display: flex;
    justify-content: center;
    margin: 20px auto; /* Lisää marginaalia ympärille */
}
.track .play-icon {
    width: 20px; /* Säädä tarvittaessa kokoa */
    height: auto;
    margin-right: 10px; /* Tilaa kuvakkeen ja tekstin välillä */
    flex-shrink: 0; /* Estää kuvakkeen kutistumisen */
}